<div class="container my-3">
  <div class="row">
    
    <!--left bar-->
    <div class="col-4">
      <%= render 'books/leftbar', book: @book, user: @user %>
    </div>

    <!--Books-->
    <div class="col-8">
      <div class="container">
        <h2>Users</h2>

        <table class="table">
          <thead class="w-100">
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <th><%= image_tag user.get_profile_image(75, 75) %></th>
              <th><%= user.name %></th>
              <th></th>
            </tr>
            <% end %>
          </body>
        </table>

      </div>
    </div>
  </div>
</div>