<div class="container my-3">
  <div class="row">
 
    <!--left bar-->
    <div class="col-4">
      <%= render 'books/leftbar', book: @book, user: @user %>
    </div>

    <!--Books-->
    <div class="col-8">
      <div class="container">
        <h2>Books</h2>
        
        <table class="table">
          <thead class="w-100">
            <tr>
              <th></th>
              <th>Title</th>
              <th>Opinion</th>
            </tr>
          </thead>
          
          <tbody>
            <% @books.each do |book| %>
            <tr>
              <th></th>
              <td><%= book.title %></td>
              <td><%= book.body %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
</div>