<div class="container">
   <div class="col-8 mx-auto">
      <h1 class="my-3">welcome to <strong>Bookers</strong> !!</h1>
      <p class="pb-1">In <strong>Bookers</strong>,<p/>
      <p class="pb-1">you can share and exchange your opinions , inpressions , and emotions</p>
      <p class="pb-1">about various books!</p>
   </div>
      
   
   <div class="d-flex flex-column gap-2 col-7 mx-auto">
      <a href="/users/sign_in" class="btn btn-info mb-2" tabindex="-1" role="button" aria-disabled="true">Log in</a>
      <a href="/users/sign_up" class="btn btn-success mb-5" tabindex="-1" role="button" aria-disabled="true">Sign up</a>
   </div>
</div>